body{
  background-color: #f1f3f6 !important;
}

.header{
  background-color: #fff;
}
.gameBoard{
  height: 75vh;
}
.game-square{
  width: 33.33%;
  height: 33.33%;
  /* border: 1px solid black; */
}

.bt {
  border-top: 5px solid #09f  !important;
}

.bb {
  border-bottom: 5px solid #09f  !important;
}
.bsb {
  border-left: 5px solid #09f  !important;
  border-right: 5px solid #09f !important;
}

.x10{
  font-size: 8rem;
}